<h1 class="left-align">{{ message }}</h1>
{{#if athlete}}
    <a href="/strava/athlete/activities" class="waves-effect waves-light strava-orange btn">See my activities</a>
{{else}}
    <a href="/auth/connect" class="waves-effect waves-light strava-orange btn">Connect</a>
{{/if}}