
<h2>You are connected: {{ first_name }} {{ last_name }}</h2>
<p>Your data is being fetched, please come back shortly</p>
<a href="/strava/athlete/activities" class="waves-effect waves-light strava-orange btn">Get Segments</a>