
<h2>you are connected: {{ first_name }} {{ last_name }}</h2>
<p>your data is being fetched, please come back shortly</p>
<a href="/strava/athlete/activities" class="waves-effect waves-light strava-orange btn">latest activities</a>